//output:index.html
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#000000')
    link(rel='shortcut icon', href='./public/assets/initials.ico')
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/magic/1.1.0/magic.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
    link(rel='stylesheet', href='public/stylesheets/style.min.css')
    title Y. Gurevich Developer Portfolio
    //if IE
      script(src='https://html5shiv.googlecode.com/svn/trunk/html5.js')
    script(src='./src/javascript/queryloader2.min.js', type='text/javascript')
  body
    header
      // Github Ribbon
      a(href='https://github.com/yoavgurevich')
        img#ribbon(style='z-index: 3; position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')
      
      // Modal Link
      a.help-link.btn-floating.tooltipped.modal-trigger.waves-effect.waves-light(data-target='modal1', data-position='right', data-delay='50', data-tooltip='Browsing Help')
        i.material-icons(style='font-size: xx-large; color: forestgreen') help_outline

      // Modal Structure
      #modal1.modal
        .modal-content
          h4 Browsing Instructions
          p
            | Click or tap on the center of the card images or their bottom tabs to view more information.
          p
            | Once revealed, some cards include image "carousels". You may either swipe or mouse-drag left or right to browse
            | through the carousel's photos.
          p
            | YouTube video content can be clicked or tapped on to begin immediate playback. All standard video controls are provided
            | on the bottom of the video frame once it starts playing.
        .modal-footer
          a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Got it!

    main
      // Navigation Menu
      .fixed-action-btn(style='bottom: 5vh; right: 3vw;')
        a.btn-floating.btn-large
          i.large.material-icons list
        ul.section
          li
            a.btn-floating.tooltipped.black(href='#intro-section', data-position='left', data-delay='50', data-tooltip='Intro')
              i.material-icons email
          li
            a.btn-floating.tooltipped.grey.darken-1(href='#profile-section', data-position='left', data-delay='50', data-tooltip='Profile')
              i.material-icons phone
          li
            a.btn-floating.tooltipped.black(href='#engage-section', data-position='left', data-delay='50', data-tooltip='Engage People')
              i.material-icons insert_chart
          li
            a.btn-floating.tooltipped.red.darken-1(href='#wellpad-section', data-position='left', data-delay='50', data-tooltip='Wellpad')
              i.material-icons format_quote
          li
            a.btn-floating.tooltipped.green(href='#opendojo-section', data-position='left', data-delay='50', data-tooltip='OpenDojo')
              i.material-icons publish
          li
            a.btn-floating.tooltipped.blue(href='#cdot-section', data-position='left', data-delay='50', data-tooltip='Seneca CDOT')
              i.material-icons attach_file
              
      // Begin Content
      .container.fs-container.section.scrollspy#intro-section
        .row.ctr-qtr
          #intro.col.s6.offset-s3
            #introPanel.card-panel
              h1#a1 Welcome.
              h5
                span
                  i#aIcon.material-icons computer
                  | &nbsp;
                  i#aIcon.material-icons tablet_mac
                  | &nbsp;
                  i#aIcon.material-icons smartphone
                p#a2 Simply swipe, scroll, or keyboard press up/down to view the slides.
                span#arrow
                  i#aIcon.material-icons arrow_downward
                  i#aIcon.material-icons arrow_upward
                p#a3 The navigation menu is located on your bottom-right, with browsing help at the top-left.
      
      .container.fs-container.section.scrollspy#profile-section
        .row
          .col.s4.offset-s4.m3.offset-m5
            img#profile.circle.responsive-img(src='https://i.imgur.com/DdMYHzh.png', alt='profile_pic')
        .row
          ul#staggered-list
            li#staggered-item
              h3#a1.white-text About Me
            li#staggered-item
              blockquote.flow-text
                | I graduated from computer programming & analysis at Seneca College last year. Studied mixology and wine council studies before that.
                | Dabbled in audio engineering and production before that. I've been a guitar player for nigh on 12 years now, and am a big believer
                | in the harmony between opposite schools of knowledge and experience. The project overviews below highlight my humble contributions
                | to a few different use cases. If there are two things I've learned about the development process so far, it's that
                | it could be as personal and unique as songwriting, and that passion is
                i very
                |  contagious.
      
      .container.fs-containe
        .row
          #wellpad-flip
            .front
              .row.ctr-10th.padding-left-20
                .col.s4.offset-s2.offset-m4.section.scrollspy#wellpad-section
                  img.hover-img#wellpad(src='https://s3.amazonaws.com/wellpad-img/Wellpad-logo-teal_500x194.png')
                .col.s4.offset-s3.offset-m5
                  a.btn-flat(href='https://praxisholistic.ca/wellpad/', target='_blank') Project Details
            .back
              span Wellpad Survey/Follow-up Platform
              p
                | This iPad-centric solution was commissioned in order to ameliorate an older system used for managing a health clinic's
                | patient and staff data. It provides an intuitive survey platform, as well as an administrative interface for viewing current information and trends
                | in both new and returning patients.
                | My primary role throughout the duration of this project was to implement front-end views and components for the patient-intake and follow-up survey slides.
                | Graphic design mock-ups of every view and component were issued out by team lead 
                a(href='https://twitter.com/lee_saynor', target='_blank') Lee Saynor
                | , and I was to try and bring them to life and make them usable the best of my ability.
                | Lead Developer 
                a(href='https://twitter.com/tabakd_', target='_blank') Daniel Tabak
                |  maintained a unique and frenetic pace throughout every milestone.
              p
                | The tech stack was and largely still is on the bleeding edge of web development today -
                | ES6 React paired with Redux and styled with the Materialize CSS framework alongside Swiper providing cohesion and kinetics for the whole show (the latter 2 coincidentally being used on this very website).
                | On the back-end, everything sat on top Node.js with data models being managed by MongoDB and Mongoose.js.
              p#carouselInfo.center-align
                strong Click or swipe on the carousel of images below to view app stills:
              .carousel
                a.carousel-item
                  img(src='https://i.imgur.com/CIsoSBG.png')
                a.carousel-item
                  img(src='https://i.imgur.com/H9bpbJm.png')
                a.carousel-item
                  img(src='https://i.imgur.com/59BmDKw.png')
                a.carousel-item
                  img(src='https://i.imgur.com/OAye111.png')
                a.carousel-item
                  img(src='https://i.imgur.com/9uZQe3K.png')
                a.carousel-item
                  img(src='https://i.imgur.com/osl2TbD.png')
      //- .row
      //-   .card
      //-     .card-image.waves-effect.waves-block.waves-light
      //-       img#opendojo.activator(src='https://i.imgur.com/OcBwIXt.png')
      //-     .card-content
      //-       span.card-title.activator
      //-         | OpenDojo CMS
      //-         i.material-icons.right more_vert
      //-       p
      //-         a.waves-effect.waves-teal.btn-flat.grow(href='https://github.com/sedge/opendojo/graphs/contributors') View the code
      //-     .card-reveal
      //-       span.card-title.activator
      //-         | OpenDojo CMS
      //-         i.material-icons.right close
      //-       p
      //-         | OpenDojo is a now open-sourced codebase that was implemented to create a content management system for a local karate club.
      //-         | Its features include a real-time reminder of the upcoming classes, a searchable/filterable student list with detailed
      //-         | individual profile views, belt rank and class creation views, a club-wide e-mail/announcement module,
      //-         | and a tablet-friendly interface for two-step logging-in for students attending classes.
      //-       p
      //-         | Taking on multiple roles in this project, my contributions involved initial server and server routes setup with Node
      //-         | and Express.js, implementing a rudimentary front-to-back authentication module using JSON Web Tokens,
      //-         | maintaining thorough API and data flow documentation for the repository,
      //-         | as well as being largely responsible for the style guide and appearance of the front-end view elements.
      //-       .row
      //-         .col.s6
      //-           .video-container
      //-             iframe(src='https://www.youtube.com/embed/8YSFOMD2r8Q', frameborder='0', allowfullscreen='')
      //-         .col.s6
      //-           .video-container
      //-             iframe(src='https://www.youtube.com/embed/ABdm-uzgZeg', frameborder='0', allowfullscreen='')
      //- .row
      //-   .card
      //-     .card-image.waves-effect.waves-block.waves-light
      //-       img#cdot.activator(src='http://iterativearts.com/wp-content/uploads/2011/06/cdot_logo.png')
      //-     .card-content
      //-       span.card-title.activator
      //-         | Seneca CDOT's Webmaker Project
      //-         i.material-icons.right more_vert
      //-       p
      //-         a.waves-effect.waves-teal.btn-flat.grow(href='https://wiki.mozilla.org/Webmaker/MakeDrive') Mozilla MakeDrive Wiki
      //-     #webmaker.card-reveal
      //-       span.card-title.activator
      //-         | Seneca CDOT's Webmaker Project
      //-         i.material-icons.right close
      //-       p
      //-         | Under a rigorously inspiring team lead by the esteemed David Humphrey, there's not much more that I can discuss on top
      //-         | of my
      //-         a(href='https://ygcdw.blogspot.ca/') Blogger posts
      //-         |  during my time on the project besides reiterating that it
      //-         |                 was one of the true pleasures of my fledgling career to have worked alongside such talent as
      //-         a(href='https://www.linkedin.com/in/r-gideon-thomas-26362865') Gideon Thomas
      //-         | ,
      //-         a(href='https://twitter.com/theSedgeHammer') Kieran Sedgwick
      //-         | , and
      //-         a(href='https://twitter.com/alicoding') Ali Al Dallal
      //-         | .
      //-         |                 I must say with confidence that I've never really felt like a programmer until I experienced being a part of this project.
      //-       .row
      //-         .col.s12
      //-           .video-container
      //-             iframe(src='https://www.youtube.com/embed/2SLiaaiqAVc', frameborder='0', height='40%', width='50%', allowfullscreen='')
    footer.page-footer.section.scrollspy
      .container
        .row
          .col.l6.s12
            h3 Stay In Touch...
            p.text-lighten-2 Have feedback to give? Project offer? Chat? Check out any of these options:
        div
          h4 Links
          ul
            li
              a(href='https://ca.linkedin.com/in/yoav-gurevich-42415886', target='_blank') LinkedIn
            li
              a(href='https://twitter.com/ygdot14', target='_blank') Twitter
            li
              a(href='https://stackoverflow.com/users/5411556/progretarian', target='_blank') Stack Overflow

    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
    script(src='./src/javascript/index.js')
