html, body {
  position: relative;
  height: 100%;
  background-image: linear-gradient(to top, #0F0F0F 0%, #000000 100%);
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

a {
  color: cornflowerblue;
}

h1, h4 {
  text-align: center;
  font-weight: 100;
}

h4 {
  padding: 0 !important;
}

body > div.swiper-container.swiper-container-vertical > div.swiper-wrapper > div.swiper-slide.swiper-slide-active > div.card-panel > h4 > span > i {
  font-size: 6vh;
  margin: 0 auto !important;
}

#opendojo {
  width: 75% !important;
  padding: 5% 0 !important;
  margin: 0 auto;
}

#cdot {
  width: 35% !important;
  padding: 7.5% 0 !important;
  margin: 0 auto;
}

#arrow {
  -webkit-animation-delay: 2.25s;
  -moz-animation-delay: 2.25s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
}

#aIcon {
  -webkit-animation-delay: 1.75s;
  -moz-animation-delay: 1.75s;
}

#a1 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

#a2 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

#a3 {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
}

.card {
  background-color: transparent;
}

.card-image {
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 80vh;
}

.card-content, .card .card-reveal {
  background-color: #222;
  color: azure;
  max-height: 85vh !important;
}

.card .card-reveal > p {
  padding: 0 4vw !important;
}

.card-panel {
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 33vw;
  opacity: 0.8;
  display: inline-block !important;
}

body > div.swiper-container.swiper-container-vertical > div.swiper-wrapper > div.swiper-slide.swiper-slide-active > div > div.card-reveal > span > i {
  padding-right: 2.5vw;
}

.swiper-container {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  color: white;
  width: 85vw;
  padding-left: 5vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

#intro {
  align-items: center;
}

.swiper-pagination {
  zoom: 3;
  padding-right: 0.5vw;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-pagination-bullet-active {
  background: cornflowerblue;
}

.page-footer {
  max-width: 66vw;
  padding-bottom: 5vh;
  background-color: black !important;
  opacity: 0.8 !important;
}

@media (orientation: portrait) {
  .card-content, .card .card-reveal {
    max-height: 45vh !important; max-width: 82vw !important;
  }
  .card-panel {
    max-width: 50vw;
  }
  body > div.swiper-container.swiper-container-vertical > div.swiper-wrapper > div.swiper-slide.swiper-slide-active > div > div.card-reveal > span > i {
    padding-right: 2vw;
  }
  .swiper-pagination {
    zoom: 2.5;
    padding-left: 0.5vw;
  }
}
