html, body {
  position: relative;
  height: 100%;
  background-image: linear-gradient(to top, #0F0F0F 0%, #000000 100%);
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .8);
}

a, .btn-flat {
  color: cornflowerblue;
}

.btn-floating {
  z-index: 3;
  position: absolute;
  top: 1%;
  left: 1%;
}

h1, h5 {
  text-align: center;
  font-weight: 100;
}

h5 {
  padding: 0 5vw !important;
}

body > div.swiper-container.swiper-container-vertical > div.swiper-wrapper > div.swiper-slide.swiper-slide-active > div.card-panel > h5 > span > i {
  font-size: 5vh;
  margin: 0 auto !important;
}

#wellpad, #opendojo, #cdot, #introPanel {
  visibility: hidden;
}

#wellpad {
  width: 47.5% !important;
  padding: 15% 0 !important;
  margin: 0 auto;
  opacity: 0.8;
}

#opendojo {
  width: 75% !important;
  padding: 5% 0 !important;
  margin: 0 auto;
  opacity: 0.7;
}

#cdot {
  width: 30% !important;
  padding: 10% 0 !important;
  margin: 0 auto;
  opacity: 0.85;
}

#a1 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
}

#a2 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

#a3 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

#aIcon {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

#arrow {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
}

body > div.swiper-container.swiper-container-vertical > div.swiper-wrapper > div.swiper-slide.swiper-slide-active > div > div.card-reveal > span > i {
  padding-right: 2.5vw;
}

.card {
  background-color: transparent;
}

.card-image {
  background-color: rgba(102, 153, 204, 0.2);
  max-height: 85vh;
}

.card-content, .card .card-reveal {
  background-color: #222;
  color: azure;
  max-height: 85vh !important;
}

.card .card-reveal > p, iframe {
  padding: 0 4vw !important;
}

.card-panel {
  background-color: rgba(153, 153, 153, 0.2);
  max-width: 33vw;
  opacity: 0.8;
  display: inline-block !important;
}

.card-title {
  padding-left: 1.5vw !important;
}

.carousel {
  max-height: 40% !important;
}

.grow {
  transform: scale(1.0);
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

body > div.swiper-container.swiper-container-vertical > div.swiper-wrapper > div.swiper-slide.swiper-slide-active > div > div.card-content > span > i {
  padding-right: 1.5vw;
}

iframe {
  max-height: 75% !important;
}

#intro {
  align-items: center;
}

.magictime, .animated {
  visibility: visible !important;
}

.material-tooltip {
  font-size: large;
}

.page-footer {
  max-width: 66vw;
  padding-bottom: 5vh;
  background-color: transparent !important;
}

#profile, #staggered-item {
  opacity: 0;
}

.swiper-container {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  z-index: 4 !important;
  color: azure;
  width: 85vw;
  padding-left: 5vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-pagination {
  padding-right: 1.5vw;
}

.swiper-pagination-bullet {
  background: ghostwhite;
  width: 2.5vh; height: 2.5vh;
  font-size: medium;
  font-weight: 300;
}

.swiper-pagination-bullet-active {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  background: cornflowerblue;
  color: azure;
}

#tabletWarn {
  display: none;
}

@media (orientation: portrait) {
  .activator {
    top: 20% !important;
  }
  body > div.swiper-container.swiper-container-vertical > div.swiper-wrapper > div.swiper-slide.swiper-slide-active > div > div.card-reveal > span > i {
    padding-right: 5vw !important;
  }
  .card {
    height: 85vh !important;
  }
  .card-image {
    height: 70vh !important;
  }
  .card-content, .card .card-reveal {
    max-height: 80vh !important; max-width: 85vw !important;
  }
  .card-panel {
    max-width: 50vw;
  }
  .pop-up {
    top: -30vh !important;
    left: 2.5vw !important;
    max-width: 80vw !important;
  }
  #ribbon {
    zoom: 0.66 !important;
  }
  .swiper-pagination {
    zoom: 1.25;
    padding-left: 0.5vw;
  }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {
  .swiper-pagination {
    zoom: 1.5;
    padding-left: 0.5vw;
  }
  .card-content, .card .card-reveal {
    max-height: 75vh !important; max-width: 82vw !important;
  }
  .pop-up {
    right: 2.5vw !important;
  }
  #profile {
    position: relative;
    top: 5vh !important;
    left: 7.5vw !important;
    width: 66%;
  }
  #ribbon {
    zoom: 0.75 !important;
  }
  .carousel, #carouselInfo {
    display: none !important;
  }
  #tabletWarn {
    display: inherit !important;
  }
}
