html, body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #0F0F0F 0%, #000000 100%);
}

.swiper-container {
  width: 100vw;
  height: 100vh;
}

#slid1 {
  background-image: url('http://i.imgur.com/zMQDdAl.png');
}

#slid2 {
  background-image: url('http://i.imgur.com/i051yqn.png');
}

#slid3 {
  background-image: url('http://i.imgur.com/3EvMg2S.png');
}
