.fa-bg {
    font-family: FontAwesome;
    content: '\f2b5\f258\f25b\f257\f087\f256\f0a5\f0a4\f259\f255';
}

.contact-bg {
    position: relative;
    background-image: url('/assets/rotary.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 92%;

    main {
        padding-top: 0.1px;
        margin-left: 25px;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding-left: 5px;

        a {
            margin-right: 20px;
            i {
                color: cornsilk;
                font-size: 50pt;
            }
        }
    }

    footer {
        position: absolute;
        bottom: 25px; left: 25px;
    }
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.flex {
    width: inherit;

    img {
        margin: 15px;
        max-height: 40px;
    }
}