.contact-bg {
    position: relative;

    header {
        position: absolute;
        right: 3rem; top: -1rem;

        h2 {
            .fa-level-up {
                cursor: pointer;
                opacity: 0.2;
                transition: all 0.3s ease-out;
    
                &:hover {
                    transition: all 0.3s ease-in;
                    opacity: 1;
                }
            }
        }
    }

    main {
        padding-top: 11vh;
        line-height: 1.25;
        margin: 0 auto;

        a {
            text-decoration: none;
        }

        ul {
            list-style-type: none;
            padding-left: 5px;
    
            a {
                margin-right: 15px;
                i {
                    color: cornsilk;
                    font-size: 44pt;
                }
            }
        }

        .vendor-imgs {
            img {
                margin: 15px;
                max-height: 38px;
            }

            padding-bottom: 20px;
        }

        small {
            a {
                color: inherit;
                font-style: italic;
            }
        }
    }
}

.margin-bottom-5 {
    margin-bottom: 5px;
}


@media only screen and (min-width: 992px) {
    .contact-bg {
        background-position: 85% 70%;
    }

    main {
        max-width: 19%;
    }
}

@media only screen and (max-width: 667px) {
    .contact-bg {
        background-size: 0;
    }

    main {
        max-width: 90%;
    } 
}