.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1.5fr 0.75fr;
    grid-template-areas: "grid-header" "grid-content" "grid-footer";
}

.grid-header, .grid-footer { margin: 0 auto; }

.grid-header { grid-area: grid-header; }

.col-1 {
    grid-template-columns: 1fr !important;
}

.align-top {
    align-self: start !important;
}

.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    grid-area: grid-content;
    align-items: center;
    p {
        text-align: justify;
        padding: 0 125px;
    }
    .fade-in {
        :first-child {
            margin-left: 12%;
        }

        :nth-child(2) {
            margin-left: -12%;
        }

        .img-link > img {
            filter: brightness(0.6);
            max-width: 27%;
        }

        .img-group {
            position: relative;
            left: 25%;
            margin-left: 0;

            img {
                width: 90px;
                margin: 0 2px;
                transform: scale(0.9);
                transition: 0.3s all ease;

                &:hover {
                    cursor: zoom-in;
                    transform: scale(1);
                    transition: 0.3s all ease;
                }
            }
        }
    }
}

.grid-footer { 
    grid-area: grid-footer;
    align-self: end;
}