#skyline {
    width: 100vw;
    height: 50vh;
    position: static;
    top: 0;
    animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
}

#skyline > image {
    width: 100vw;
    height: 60vh;
    transform: scale(1.05) translateX(-2vw);

    @media screen and (max-width: 1024px) {
        transform: scale(1.3) translate(-20vw, -10vw);
        height: 75vh;
    }
}

.landing-content {
    max-height: 100vh;
    color: black;
    margin-top: -15rem;

    blockquote {
        margin: 0;
        line-height: 1.5;
        width: 60vw;
        min-height: fit-content;
        text-align: justify;

        h5 {
            padding: 0 2.5%;
            overflow-y: hidden;
        }

        @media (max-width: 768px) {
            width: 90vw;

            h5 {
                max-height: 35vh;
                overflow-y: scroll;
            }
        }

        @media (max-width: 1200px) {
            width: 80vw;

            h5 {
                max-height: 33vh;
            }
        }
    }

    .landing-img {
        position: relative;
        margin-top: 2.5rem;
        height: 25vh; width: 25vh;
        border-radius: 50%;
        overflow: hidden;

        @media (max-width: 500px) and (orientation: portrait) {
            margin-top: 0;
        }

        img {
            opacity: 0;
            position: absolute;
            max-width: 100%;
            transition: opacity .6s cubic-bezier(0.470, 0.000, 0.745, 0.715);
        }
    }

    .slide-link-container {
        margin-top: -50px;
    }
}

.puff-in-center {
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation-delay: 3.75s;
}
            
.image-active {
    opacity: 1 !important;
    transition: opacity .6s cubic-bezier(0.470, 0.000, 0.745, 0.715);
}
