@for $i from 1 through 5 {
    .yg#{$i} {
        background-image: url('/assets/yg' + $i + '.png');
        transition: background linear 0.15s;
    }
}

#video-viewport {
    z-index: -1;
    overflow: hidden;

    video {
        min-width: 100vw;
        max-height: 100vh;
        height: auto;
        transform: scale(1.15);
        @media only screen and (max-width: 823px) {
            margin-left: -100%;
            margin-top: -20%;
        }
    }
}

.landing-content {
    position: absolute;
    top: 0;
    max-height: 100vh;
    color: white;

    blockquote {
        padding: 0 15%;
        text-align: justify;

        @media only screen and (max-width: 667px) {
            max-height: 33vh;
            overflow-y: scroll;
            padding: 0 5%;
        }
    }

    .landing-img {
        margin-top: 30px;
        height: 40vh; width: 33vh;
        border-radius: 50%;
        background-size: cover;
        background-position-x: 50%;        
        animation-delay: 5s;
    }
}