@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|EB+Garamond:800|Aldrich|Rouge+Script|League+Script");
@import "./typography.scss";
@import "./animations.scss";
@import "./contact.scss";
@import "./landing.scss";
@import "./partials/wellpad.scss";

$color-collection: (white, indianred, mediumseagreen, darkslategrey, maroon);

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

@each $color in $color-collection {
  .#{$color} {
    background: nth($color, 1);
    transition: background linear 1s;
  }
}

.newgray {
  background: #c3c2c3;
  transition: background linear 1s;
}

.newgray-dark {
  background: #2f2f2f;
  transition: background linear 1s;
}

// SCSS extendible blocks
%relative-center {
  position: relative;
  top: 45% !important;
}

%slide-link-style {
  opacity: 0.15;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.7;
    transition: all 0.5s ease;
  }
}

.fsh {
  height: 100vh;
}

.container {
  width: 100%;
}

.flipContainer {
  position: initial;
}

.margin-0 {
  margin: 0 !important;
}

.padding-15 {
  padding: 15%;
}

.margin-left-30 {
  margin-right: -30% !important;
}

a {
  text-decoration: none;
}

.a-link {
  color: black;
  margin-left: -15% !important;
  overflow: visible;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-wrap {
  flex-flow: wrap;
}

.overflow-visible {
  overflow: visible;
}

.text-center {
  text-align: center;
}

.h-9\/10 {
  height: 90%;
}

.slide-link-container {
  min-width: inherit;
  cursor: pointer;

  @extend %slide-link-style;
}

.margin-bottom-40 {
  margin-top: -40px;
}

.swiper-slide {
  width: 100%;
}

.slide-content {
  p {
    text-align: justify;
    padding: 0 125px;
  
    @media screen and (max-width: 992px) {
      padding: 15px 50px;
      max-height: 35vh;
      overflow-y: scroll;
    }
  }
  
  .fade-in {
    :first-child {
      margin-left: 12%;
    }
  
    :nth-child(2) {
      margin-left: -12%;
  
      @media screen and (max-width: 992px) {
        margin-left: 0;
      }
    }
  
    .img-link > img {
      filter: brightness(0.6);
      max-width: 27%;
    }
  
    .img-group {
      position: relative;
      left: 25%;
      margin-left: 0;
  
      img {
        width: 90px;
        margin: 0 2px;
        transform: scale(0.9);
        transition: 0.3s all ease;
  
        &:hover {
          cursor: zoom-in;
          transform: scale(1);
          transition: 0.3s all ease;
        }
      }
    }
  
    @media screen and (max-width: 667px) {
      .img-group {
        display: none;
      }

      .img-link > img {
        max-width: 50%;
      }
    }
  }
}

#cdot {
  svg {
    margin-left: 12.5%;
    margin-top: 10%;

    @media screen and (min-width: 501px) and (max-width: 767px) {
      margin-left: -20%;
      margin-top: -10%;
    }

    @media screen and (max-width: 500px) {
      margin-left: -30%;
      margin-top: -15%;
      max-height: 35%;
      overflow: visible !important;
    }
  }
}

.no-glow {
  opacity: 0.1 !important;
}

.text-flicker-in-glow {
  animation: text-flicker-in-glow 4s linear both;
}

.slide-left {
  animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;

  @media screen and (max-width: 767px) {
    animation: slide-up 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }
}

.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}

@media screen and (max-width: 667px) {
  .a-link {
    display: none;
  }
}
