@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=EB+Garamond:wght@800&family=Nanum+Gothic&family=Rouge+Script&family=Work+Sans&display=swap");
@import "./typography.scss";
@import "./responsive.scss";
@import "./animations.scss";
@import "./contact.scss";
@import "./landing.scss";
@import "./partials/wellpad.scss";

$color-collection: (
  "white": white,
  "indianred": indianred,
  "mediumseagreen": mediumseagreen,
  "darkslategrey": darkslategrey,
  "maroon": maroon,
  "customblue": #042e6f,
  "newgray": #c3c2c3,
  "newgray-dark": #2f2f2f,
);

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

@each $name, $color in $color-collection {
  .#{$name} {
    background: $color;
    transition: background linear 1s;
  }
}

// SCSS extendible blocks
%relative-center {
  position: relative;
  top: 45% !important;
}

%slide-link-style {
  opacity: 0.15;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.7;
    transition: all 0.5s ease;
  }
}

.fsh {
  height: 100vh;
}

.container {
  width: 100%;
}

.px-8 {
  padding: 0 2rem;
}

.w-1\/3 {
  width: 33%;
}

.w-1\/2 {
  width: 50%;
}

.px-n8 {
  padding: 0 -2rem;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.fa-nav-btn {
  color: white;
  @extend %slide-link-style;
}

.margin-0 {
  margin: 0 !important;
}

.padding-15 {
  padding: 15%;
}

.margin-left-30 {
  margin-right: -30% !important;
}

.hidden {
  visibility: hidden;
}

a {
  text-decoration: none;

  &:visited {
    color: grey;
  }
}

.a-link {
  color: black;
  margin: 0 auto;
  width: max-content;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mt-4 {
  margin-top: 1rem;
}

.flex-wrap {
  flex-flow: wrap;
}

.filter-brightness-3\/5 {
  filter: brightness(0.6);
}

.overflow-visible {
  overflow: visible;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.stateless-link-white,
.stateless-link-white:visited {
  color: white;
}

.h-9\/10 {
  height: 90%;
}

.slide-link-container {
  min-width: inherit;
  cursor: pointer;

  @extend %slide-link-style;
}

.margin-bottom-40 {
  margin-top: -40px;
}

.swiper-container {
  height: 70%;
}

.swiper-slide {
  width: 100%;
}

.swiper-button-disabled {
  opacity: 0.05 !important;
}

.horizontal-center {
  margin: 0 auto;
}

.slide-content {
  p {
    text-align: justify;
    padding: 0 30%;

    @media screen and (max-width: 992px) {
      padding: 15px 60px;
      overflow-y: scroll;
    }
  }

  .fade-in {
    .img-link > img {
      max-width: 25%;
    }

    @media screen and (max-width: 667px) {
      width: 100vw;

      .img-link > img {
        max-width: 70%;
      }
    }
  }

  main {
    .img-group {
      height: 25vh;
      margin: auto 25%;
      padding-bottom: 2rem;

      .swiper-container {
        height: 100%;
      }

      .swiper-slide {
        overflow: hidden;
      }

      .swiper-slide-zoomed {
        overflow: visible;
        z-index: 1000;

        .swiper-zoom-container {
          img:hover {
            cursor: move;
          }
        }
      }

      .swiper-zoom-container {
        img:hover {
          cursor: zoom-in;
        }
      }
    }
  }
}

.swiper-pagination-bullets {
  margin-bottom: -15px;
}

#cdot {
  svg {
    width: 420px;
    display: block;
    margin-left: 31%;
    padding-bottom: 25px;
    height: auto;

    @media screen and (min-width: 401px) and (max-width: 767px) {
      margin-left: -20%;
    }

    @media screen and (min-width: 1280px) and (max-width: 1366px) and (orientation: landscape) {
      margin-left: 28%;
    }

    @media screen and (max-width: 400px) {
      margin-left: -28%;
      max-height: 35%;
      overflow: visible !important;
    }
  }
}

.no-glow {
  opacity: 0.1 !important;
}

.text-flicker-in-glow {
  animation: text-flicker-in-glow 4s linear both;
}

.pulsate {
  animation: pulsate 0.8s linear alternate infinite;
}

.slide-left {
  animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;

  @media screen and (max-width: 767px) {
    animation: slide-up 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }
}

.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid transparent;
  white-space: nowrap;
  letter-spacing: 0.1em;
  max-width: min-content;

  animation: typing 2s steps(18, end), blink-caret 1s step-end 10;

  @media screen and (min-width: 1024px) {
    animation: typing 3.5s steps(54, end), blink-caret 1s step-end 10;
  }
}
