@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=EB+Garamond:wght@800&family=League+Script&family=Nanum+Gothic&family=Rouge+Script&family=Work+Sans&display=swap');
@import "./typography.scss";
@import "./animations.scss";
@import "./contact.scss";
@import "./landing.scss";
@import "./partials/wellpad.scss";

$color-collection: (
  "white": white, 
  "indianred": indianred, 
  "mediumseagreen": mediumseagreen, 
  "darkslategrey": darkslategrey, 
  "maroon": maroon,
  "customblue": #042E6F,
  "newgray": #c3c2c3,
  "newgray-dark": #2f2f2f
);

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

@each $name, $color in $color-collection {
  .#{$name} {
    background: $color;
    transition: background linear 1s;
  }
}

// SCSS extendible blocks
%relative-center {
  position: relative;
  top: 45% !important;
}

%slide-link-style {
  opacity: 0.15;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.7;
    transition: all 0.5s ease;
  }
}

.fsh {
  height: 100vh;
}

.container {
  width: 100%;
}

.px-8 {
  padding: 0 2rem;
}

.px-n8 {
  padding: 0 -2rem;
}

.fa-nav-btn {
  color: white;
  @extend %slide-link-style;
}

.flipContainer {
  position: initial;
}

.margin-0 {
  margin: 0 !important;
}

.padding-15 {
  padding: 15%;
}

.margin-left-30 {
  margin-right: -30% !important;
}

.hidden {
  visibility: hidden;
}

a {
  text-decoration: none;

  &:visited {
    color: grey;
  }
}

.a-link {
  color: black;
  margin: 0 auto;
  width: max-content;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.flex-wrap {
  flex-flow: wrap;
}

.overflow-visible {
  overflow: visible;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.h-9\/10 {
  height: 90%;
}

.slide-link-container {
  min-width: inherit;
  cursor: pointer;

  @extend %slide-link-style;
}

.margin-bottom-40 {
  margin-top: -40px;
}

.swiper-container {
  height: 70%;
}

.swiper-slide {
  width: 100%;
}

.horizontal-center {
  margin: 0 auto;
}

.slide-content {
  p {
    text-align: justify;
    padding: 0 30%;
  
    @media screen and (max-width: 992px) {
      padding: 15px 50px;
      max-height: 35vh;
      overflow-y: scroll;
    }
  }

  .fade-in {
    .img-link > img {
      filter: brightness(0.6);
      max-width: 15%;
    }

    @media screen and (max-width: 667px) {
      width: 100vw;
    }
  }
  
  main {
    .img-group {
      height: 25vh;
      margin: auto 25%;
      padding-bottom: 2rem;

      .swiper-container {
        height: 100%;
      }

      .swiper-slide {
        overflow: hidden;
      }

      .swiper-zoom-container {
        img:hover {
          cursor: zoom-in;
        }
      }
    }
  
  }
}

#cdot {
  svg {
    width: 420px;
    display: block;
    margin-left: 31%;
    padding-bottom: 25px;
    height: auto;

    @media screen and (min-width: 501px) and (max-width: 767px) {
      margin-left: -20%;
    }

    @media screen and (max-width: 500px) {
      margin-left: -30%;
      max-height: 35%;
      overflow: visible !important;
    }
  }
}

.no-glow {
  opacity: 0.1 !important;
}

.text-flicker-in-glow {
  animation: text-flicker-in-glow 4s linear both;
}

.slide-left {
  animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;

  @media screen and (max-width: 767px) {
    animation: slide-up 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }
}

.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}

@media screen and (max-width: 667px) {
  .a-link {
    display: none;
  }
}
