.rouge-script {
    font-family: 'Rouge Script', sans-serif;
}

.eb-garamond {
    font-family: 'EB Garamond', serif;
}

.aldrich {
    font-family: 'Aldrich', sans-serif;
}

.svg-xxl {
    font-size: 80px;
}

.h0 {
    font-size: 4.5vmax;
}

h1 {
    font-size: 3.75vmax;
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 2.25vmax;
}

h4 {
    font-size: 1.5vmax;
}

h5 {
    font-size: 14pt;
}

span {
    font-size: 1vmax;
}