.rouge-script {
  font-family: "Rouge Script", sans-serif;
}

.league-script {
  font-family: "League Script", cursive;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
}

.aldrich {
  font-family: "Aldrich", sans-serif;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

.svg-xxl {
  font-size: 80px;
}

.h0 {
  font-size: 44pt;
  overflow: visible;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 24pt;
}

h4 {
  font-size: 18pt;
}

h5 {
  font-size: 14pt;
}

span {
  font-size: 1vmax;
}

.font-cornsilk {
  color: cornsilk;
}
