.rouge-script {
    font-family: 'Rouge Script', sans-serif;
}

.eb-garamond {
    font-family: 'EB Garamond', serif;
}

.aldrich {
    font-family: 'Aldrich', sans-serif;
}

.svg-xxl {
    font-size: 80px;
}

.h0 {
    font-size: 44pt;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 24pt;
}

h4 {
    font-size: 18pt;
}

h5 {
    font-size: 14pt;
}

span {
    font-size: 1vmax;
}